.messagesContainer{
    width: 78%;
    background-color: #222;
    border-radius: 1rem;
    position: relative;
    height: 83.96vh;
    
    /* padding: 1rem; */
}

.nav{
    background-color: #444;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 1rem;
}
.messages{
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    height: 90%;
}
.messages div{
    display: flex;
}





.messageForm{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0.5rem 3rem;
    align-items: center;
    background-color: #111;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.messageForm input{
    width: 80%;
    font-size: 17px;
    background-color: #555;
    border: 0;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    letter-spacing: 0.03rem;
    opacity: 0.8;
}
.messageForm input:focus{
    outline: 0;
    opacity: 1;
}
.messageForm button{
    width: 90px;
    height: 33px;
    background-color: rgba(0, 70, 230, 0.6);
    border-radius: 1rem;
    border: 0;
    box-shadow: 2px 2px 3px 1px rgba(0, 50, 180, 0.4);
    cursor: pointer;
}
.messageForm button:hover{
    box-shadow: 1px 1px 2px 1px rgba(0, 50, 180, 0.45);
    transform: scale(0.97);
    opacity: 0.8;
}
.messageForm button:active{
    transform: scale(0.9);
    opacity: 0.7;
}