.toolbox{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #444;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    gap: 1rem;
    position: absolute;
    top: 0.7rem;
}
.toolbox_image{
    width: 21px;
    height: 21px;
    cursor: pointer;
}
.toolbox_image:hover{
    opacity: 0.5;
}