.yourMessage{
    justify-content: flex-end;
}
.friendMessage{
    justify-content: flex-start;
}
.friendMessage section p{
    background-color: rgb(90, 115, 135);
}
.friendMessage section, .yourMessage section{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 0.3rem;
    position: relative;
}
.friendMessage section p, .yourMessage section p, .editMessageForm{
    box-shadow: 0 0 3px 1px rgba(0, 70, 230, 0.2);
    font-size: 20px;
    padding: 0.4rem 1.3rem;
    letter-spacing: 0.03rem;
    border-radius: 1.1rem;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.friendMessage section .imageContainer , .yourMessage section p .imageContainer {
    position: absolute;
    bottom: -11px;
    left: -5px;
    width: 26px;
    height: 26px;
    background-color: #555;
    box-shadow: 0 0 2px 1px #454545;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.imageContainer img{
    width: 22px;
    height: 22px;
}
.friendMessage section .imageContainer {
    right: -5px;
}
.editMessageForm {
    z-index: 99;
    width: 400px;
    position: absolute;
    top: 0.4rem;
    right: 2rem;
    background-color: rgb(90, 115, 135);

}
.editMessageForm button{
    background-color: var(--main-green-color);
    font-size: 15px;
    border: 0;
    border-radius: 0.3rem;
    padding: 0.1rem 0.2rem;
}
.editMessageForm input:focus{
    outline: 0;
}
.editMessageForm input{
    width: 90%;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 16px;
}
.friendMessage section p:hover, .yourMessage section p:hover{
    opacity: 0.8;
}
.yourMessage section p{
    background: linear-gradient(to bottom right, rgb(0, 70, 230), rgb(138, 16, 138));
}
.date_span{
    display: flex;
    gap: 0.7rem;
    font-size: 12px;
    text-align: left;
    margin: 0 1.2rem;
    opacity: 0.7;
    letter-spacing: 0.05rem;
    word-spacing: -0.12rem;
}
.date_span span{
    word-spacing: 0.1rem;
}
.yourMessage section span{
    text-align: right;
}
.editMessageForm{

}