.toolbox{
    display: flex;
    height: 34px;
    align-items: center;
    justify-content: center;
    background-color: #444;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    gap: 1rem;
    position: absolute;
    top: 0.7rem;
}
.toolbox button{
    background-color: transparent;
    border: 0;
    align-items: center;
    justify-content: center;
}
.toolbox_image{
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.toolbox_image:hover{
    opacity: 0.5;
    scale: 0.9;
}